.chatList {
    background-color: #f44336;
    border-radius: 5px;
    min-height: 500px;
    align-self: flex-start;
}

a {
    color: #fafafa;
}

.section-chat {
    background-color: #fafafa;
}
.section-chat-active{
    background-color: #f44336;
}